.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.notes-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.noteStyle {
  position: relative;
  width: 250px;
  margin: 5px;
}
.headerNote {
  width: 250px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  background: #e4cfcf8a;
}
.textStyle {
  width: 246px !important;
  border: none !important;
}
.btnDelStyle{
  background: #ff00007a;
  color:white;
  border:none;
  cursor: pointer;
}
p {
  margin: 0;
}